/* Head Contact Info */
.contact {
  margin-inline: 5%;
  margin-top: 20px;
}

.contact--container {
  width: 100%;
}

.contact--title {
  font-weight: 400;
  font-size: 1.6em;
}

.contact--para {
  margin-top: 20px;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 1.5em;
}

/* Form Grid Layout */
.grid-container,
.grid-container-2 {
  display: grid;
  align-content: space-between;
  grid-template-columns: 1fr 1fr; /*Make the grid smaller than the container*/
  column-gap: 10px;
  row-gap: 10px;
  background-color: #2196f3;
  padding: 0px;
  border: solid red 2px;
}
.grid-container > div,
.grid-container-2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
}

/* incredible! This solved the issue */
/* Set input fields to not break grid */
* {
  box-sizing: border-box;
}
.form--input {
  width: 100%;
}
.container-width {
  grid-column: 1/-1;
}

/* For styling form */
.span-grey {
  color: #888888;
}

/* Make the buttons look nice */
textarea,
input {
  border-radius: 4px;
  border: 1px solid #707070;
  background: #f0f0f0;
  height: 3em;
}

textarea:focus,
input:focus {
  outline: none;
}

input:focus {
  box-shadow: 0px 0px 3px 2px #acacac;
}

/* Checkbox alignment */
.checkbox-wrapper {
  white-space: nowrap;
  display: flex;
  align-items: center;

  height: 2em;
}

.checkbox-label {
  white-space: normal;
  display: inline-block;
  padding-left: 0.5em;
}
input:focus.checkbox {
  box-shadow: 0px 0px 0px 0px #acacac;
}
/* remove styling from checkbox */
