.home {
  width: 100%;
  border: 1px solid red;
}

/* First Card */
.home--c1 {
  position: relative;
  height: 400px;
  z-index: 1;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

/* For gradient */
.home--c1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.home--banner-one {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home--overlay {
  border: 1px solid green;
  position: absolute;
  top: 30%;
  left: 5%;
  right: 5%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.home--overlay > h1 {
  font-weight: 500;
}

/* Second Card */
/* Second Card */
/* Second Card */

.home--c2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 5%;
}

.home--banner-two {
  padding-top: 5vh;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.home--c2-text {
  color: #444444;
}

.home--c2-title {
  margin-top: 20px;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.5em;
}

.home--c2-para {
  margin-top: 20px;
  font-size: 0.85em;
  line-height: 2em;
}

.home--c2-ulist {
  margin-top: 20px;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 2em;
  list-style-position: inside;
  text-indent: -1.5em;
  padding-inline-start: 1.8em;
}

.home--c2-ulist > li > span {
  position: relative;
  left: -0.6em;
}

.home--learn-more {
  margin-top: 20px;
  padding-bottom: 30px;
}

/* Third Card */
/* Third Card */
/* Third Card */

.home--banner-three {
  object-fit: cover;
  width: 100%;
  height: auto;
}

@media (min-device-width: 1200px) {
  .home--overlay {
    border: 1px solid blue;
    left: 15%;
    right: 45%;
    align-items: flex-start;
  }

  /* For gradient */
  .home--c1::after {
    width: 50%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  .home--contact {
    border: 1px solid red;
    width: 120px;
  }

  .home--banner-one {
    object-position: 50% 30%;
  }
}
