.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: #ebebeb solid 2px;
}

.navbar--logo {
  width: 175px;
  padding: 1em;
}

@media (min-device-width: 1200px) {
  .navbar {
    padding-inline: 15%;
    height: 50px;
    justify-content: space-between;
  }
  .navbar--logo {
    padding: 0;
  }
  .navbar--nav {
    display: flex;
    height: 100%;
    gap: 30px;
    align-items: center;
  }

  .navbar--link,
  .navbar--log-in {
    font-weight: 700;
    cursor: pointer;
  }

  .navbar--log-in {
    padding-inline: 30px;
    border-radius: 3px;
    font-size: 0.65em;
    height: 70%;
    background-color: rgba(55, 147, 252, 0.2);
    color: rgb(46, 126, 217);
    border: none;
  }

  .navbar--link {
    display: flex;
    align-items: center;
    height: 90%;
    letter-spacing: 0.1em;
    font-size: 0.65em;
  }

  /* This if for the <Link> ideally I don't want to apply to all <a> */
  a {
    color: #888888;
    text-decoration: none;
  }
}
